<?xml version="1.0" encoding="utf-8"?>
<!--
DVR Commander for TiVo allows control of a TiVo Premiere device.
Copyright (C) 2011  Anthony Lieuallen (arantius@gmail.com)

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  android:versionCode="260" android:versionName="26"
  package="com.arantius.tivocommander"
>
  <uses-sdk android:targetSdkVersion="26" android:minSdkVersion="21"></uses-sdk>
  <uses-permission android:name="android.permission.INTERNET"></uses-permission>
  <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"></uses-permission>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
  <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
  <application
    android:icon="@drawable/app_icon" android:label="@string/app_name"
    android:allowBackup="true"
    android:theme="@android:style/Theme.Material"
  >
    <activity android:name=".NowShowing" android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".About"></activity>
    <activity android:name=".Connect"></activity>
    <activity android:name=".Credits"></activity>
    <activity android:name=".Discover">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>
    <activity android:name=".Explore"></activity>
    <activity android:name=".ExploreTabs">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="https" android:host="www3.tivo.com"
          android:pathPattern="/tivo-tco/program/show.do" />
      </intent-filter>
    </activity>
    <activity android:name=".Help"></activity>
    <activity android:name=".MyShows">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>
    <activity android:name=".Person"></activity>
    <activity android:name=".Remote">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>
    <activity android:name=".Search">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>
    <activity android:name=".SeasonPass">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>
    <activity android:name=".Settings"></activity>
    <activity android:name=".SubscribeCollection"></activity>
    <activity android:name=".SubscribeOffer"></activity>
    <activity android:name=".Suggestions"></activity>
    <activity android:name=".ToDo">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>
    <activity android:name=".Upcoming"></activity>
  </application>
</manifest>
