<?xml version="1.0" encoding="utf-8"?>
<!--
TiVo Commander allows control of a TiVo Premiere device.
Copyright (C) 2011  Anthony Lieuallen (arantius@gmail.com)

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License along
with this program; if not, write to the Free Software Foundation, Inc.,
51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.arantius.tivocommander" android:versionCode="3"
  android:versionName="3"
>
  <uses-sdk android:targetSdkVersion="9" android:minSdkVersion="7"></uses-sdk>
  <uses-permission android:name="android.permission.INTERNET"></uses-permission>
  <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"></uses-permission>
  <application android:icon="@drawable/icon" android:label="@string/app_name">
    <activity android:name="About"></activity>
    <activity android:name="Credits"></activity>
    <activity android:name="Catalog" android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="Discover"></activity>
    <activity android:name="Explore"></activity>
    <activity android:name="ExploreTabs"></activity>
    <activity android:name="MyShows">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>
    <activity android:name="Person"></activity>
    <activity android:name="ProblemReport"></activity>
    <activity android:name="Remote">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>
    <activity android:name="Search">
    </activity>
    <activity android:name="Settings"></activity>
    <activity android:name="SubscribeCollection"></activity>
    <activity android:name="SubscribeOffer"></activity>
    <activity android:name="Suggestions"></activity>
    <activity android:name="Upcoming"></activity>
  </application>
</manifest>
